@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}

<div class="text-center">
    <h1 class="display-4">Get In Touch</h1>
    <hr>
    <br><br>
    
    <h1 class="display-4">Get In Touch</h1>
        <hr>
        <br><br>
    <!-- TODO: Contact Info -->
</div>