@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="text-center content-wrapper">
    <h1 class="display-4">Education</h1>
    <hr>
    <ul class="section-content">
        <li>
            <h4>University of Advancing Technology</h4>
            <h6>Bachelor of Science, CS Major</h6>
            <p>2022-Present</p>
        </li>
    </ul>
    <br><br>
    
    <h1 class="display-4">Skills</h1>
    <hr>
    <ul class="section-content">
        <li>
            <h4>Programming Languages</h4>
            <ul>
                <li>
                    <h6>General Purpose:</h6>
                    <ul>
                        <li >C#</li>
                        <li>C++</li>
                        <li>Java</li>
                        <li>Python</li>
                    </ul>
                </li>
                
                <li>
                    <h6>Systems:</h6>
                    <ul>
                        <li >Rust</li>
                        <li>Zig</li>
                    </ul>
                </li>
                
                <li>
                    <h6>Web:</h6>
                    <ul>
                        <li>HTML</li>
                        <li>CSS</li>
                        <li >PHP</li>
                        <li>JavaScript</li>
                    </ul>
                </li>
                
                <li>
                    <h6>Query:</h6>
                    <ul>
                        <li>MSSQL</li>
                        <li>MySQL</li>
                        <li >SQLite</li>
                    </ul>
                </li>
            </ul>
        </li>
        <br>
        <li>
            <h4>Technologies</h4>
            <ul>
                <li>.NET</li>
                <li>Windows</li>
                <li>HTTP</li>
                <li>RaspberryPi</li>
            </ul>
        </li>
        <br>
        <li>
            <h4>Concepts</h4>
            <ul>
                <li>Data Structures</li>
                <li>Algorithms</li>
                <li>CLI</li>
                <li>CI/CD</li>
                <li>APIs</li>
            </ul>
        </li>
        <br>
    </ul>
    <br><br>
    
    <h1 class="display-4">Employment</h1>
    <hr>
    <br><br>
    
    <h1 class="display-4">Projects: COMPLETED</h1>
    <hr>
    <ul class="section-content">
        <li>
            <h4>Task Manager Web App</h4>
            <h6>-HTML/CSS(Bootstrap)/JavaScript-</h6>
            <p>A simple web app to track a list of scheduled tasks and then delete them once complete. This project was worked
                on by my friend Harmony and myself over Github and is hosted on Github Pages.</p>
            <br>
            <h6>Link:</h6>
            <a href="https://annonix04.github.io/Task-Manager">Task Manager</a>
        </li>
    </ul>
    <br><br>
    
    <h1 class="display-4">Projects: WIP</h1>
    <hr>
    <ul class="section-content">
        <li>
            <h4></h4>
            <p></p>
        </li>
    </ul>
    <br><br>
    
    <!-- TODO: [Body] Employment, [Body] Completed Projects, [Body] WIP Projects -->
</div>