@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="text-center content-wrapper">
    <h1 class="display-4">Education</h1>
    <hr>
    <ul class="section-content">
        <li>
            <h4>University of Advancing Technology</h4>
            <h6>Bachelor of Science, CS Major</h6>
            <p>2022-Present</p>
        </li>
    </ul>
    <br><br>
    
    <h1 class="display-4">Skills</h1>
    <hr>
    <ul class="section-content">
        <li>
            <h4>Programming Languages</h4>
            <ul>
                <li >C#</li>
                <li>C++</li>
                <li>Java</li>
                <li>Python</li>
                <li>PHP</li>
            </ul>
        </li>
        <br>
        <li>
            <h4>Technologies</h4>
            <ul>
                <li>.NET</li>
                <li>Web Stack (HTML/CSS/JavaScript)</li>
                <li>Windows</li>
                <li>RaspberryPi</li>
                <li>SQL</li>
            </ul>
        </li>
        <br>
        <li>
            <h4>Concepts</h4>
            <ul>
                <li>Data Structures</li>
                <li>Algorithms</li>
                <li>CI/CD</li>
                <li>HTTP</li>
                <li>APIs</li>
            </ul>
        </li>
        <br>
    </ul>
    <br><br>
    
    <h1 class="display-4">Employment</h1>
    <hr>
    <br><br>
    
    <h1 class="display-4">Projects: COMPLETED</h1>
    <hr>
    <br><br>
    
    <h1 class="display-4">Projects: WIP</h1>
    <hr>
    <ul class="section-content">
        <li>
            <h4>VRChat World</h4>
            <p>- [DESCRIPTION]</p>
        </li>
    </ul>
    <br><br>
    
    <!-- TODO: [Body] Employment, [Body] Completed Projects, [Body] WIP Projects -->
</div>