@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Skills</h1>
    <hr>
    <h1 class="display-4">Projects</h1>
    <hr>
    <!-- TODO: [Section] Skills, [Section] Completed Projects, [Section] WIP Projects -->
</div>