@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Education</h1>
    <hr>
    <br><br>
    
    <h1 class="display-4">Skills</h1>
    <hr>
    <ul>
        <li>
            Programming Languages
            <ul>
                <li>C#</li>
                <li>C++</li>
                <li>Java</li>
                <li>Python</li>
                <li>HTML/CSS/JavaScript</li>
                <li>PHP</li>
            </ul>
        </li>
        <li>
            Technologies
            <ul>
                <li>.NET</li>
                <li>Windows</li>
                <li>RaspberryPi</li>
            </ul>
        </li>
        <li>
            Concepts
            <ul>
                <li>Data Structures</li>
                <li>Algorithms</li>
            </ul>
        </li>
    </ul>
    <br><br>
    
    <h1 class="display-4">Projects: COMPLETED</h1>
    <hr>
    <br><br>
    
    <h1 class="display-4">Projects: WIP</h1>
    <hr>
    <ul>
        <li>
            VRChat World <!--TODO: Description-->
        </li>
    </ul>
    <br><br>
    
    <!-- TODO: [Body] Education, [Section/Body] Employment, [Body] Skills, [Body] Completed Projects, [Body] WIP Projects -->
</div>